@using BurgerKing.Models;

@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (Session["Cart"] != null)
    {
        string OrderId = ViewBag.OrderId.ToString();
        string TotalPrice = ViewBag.TotalPrice.ToString();

        string actionUrlMomo = Url.Action("Payment", "Payment", new { id = OrderId, total = TotalPrice });

        <div class="container-xxl py-5">
            <div class="container">
                <div class="col-lg-12" style="padding: 0 20%;">
                    <div class="col-lg-12 mb-3">
                        <div class="shadow">
                            <div class="p-4">
                                <div class="d-flex justify-content-between mb-3">
                                    <span><h4>Mã đơn hàng: @ViewBag.OrderId</h4></span>
                                    <span><h4>Tổng thanh toán: @ViewBag.TotalPrice VNĐ</h4> </span>
                                </div>
                                <p>Vui lòng chọn một trong các phương thức thanh toán dưới đây: </p>
                                <div class="row col-lg-12">
                                    <div class="col-lg-6">
                                        <div class="form-element-momo">
                                            <input type="checkbox" name="platform" value="momo" id="momo" onclick="handleCheckboxClick(this)">
                                            <label for="momo">
                                                <div class="icon">
                                                    <img src="~/images/MoMo_Logo.png" width="40px" height="auto" style="margin-left: 8px;">
                                                    <p style="font-size: 18px; margin-left: 10px; margin-top:15px;">Thanh toán với MoMo</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-element-cash">
                                            <input type="checkbox" name="platform" value="cash" id="cash" onclick="handleCheckboxClick(this)">
                                            <label for="cash">
                                                <div class="icon">
                                                    <img src="~/images/money-bag.png" width="40px" height="auto" style="margin-left: 8px;">
                                                    <p style="font-size: 18px; margin-left: 10px; margin-top:15px;">Thanh toán bằng tiền mặt</p>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <a href="@actionUrlMomo" id="thanhtoan" class="col-lg-12 btn btn-warning p-2" style="color:white; font-size:20px;">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    var actionUrlMomo = "@Url.Action("Payment", "Payment", new { id = ViewBag.OrderId, total = ViewBag.TotalPrice })";
    var actionUrlCash = "@Url.Action("PaymentCash", "Payment", new { id = ViewBag.OrderId })";

    function handleCheckboxClick(clickedCheckbox) {
        // Cập nhật giá trị của actionUrl dựa trên điều kiện
        console.log(clickedCheckbox.value)

        if (clickedCheckbox.value === "momo") {
            $("#thanhtoan").attr("href", actionUrlMomo);
        } else if (clickedCheckbox.value === "cash") {
            $("#thanhtoan").attr("href", actionUrlCash);
        }

        // Loại bỏ chọn các checkbox khác
        var checkboxes = document.getElementsByName("platform");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] !== clickedCheckbox) {
                checkboxes[i].checked = false;
            }
        }
    }
</script>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {
            // Gọi hàm cập nhật số lượng mục trong giỏ hàng khi trang được tải
            updateCartItemCount();

            // Hàm để gọi action và cập nhật số lượng trên giao diện
            function updateCartItemCount() {
                $.ajax({
                    url: '@Url.Action("GetCartItemCount", "ShoppingCart")', // Đường dẫn đến action
                    type: 'GET',
                    success: function (data) {
                        // Xử lý dữ liệu trả về, ở đây có thể làm bất cứ điều gì bạn muốn
                        console.log('Số lượng mục trong giỏ hàng: ' + data.itemCount);

                        // Cập nhật giao diện người dùng với số lượng mới
                        $('#cart_count').text(data.itemCount);
                    },
                    error: function () {
                        console.log('Lỗi khi gọi action');
                    }
                });
            }
        });
    </script>
}


