@model BurgerKing.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title" style="font-weight: bold;"> Bạn có chắc muốn xóa sản phẩm này ? </h3>
        </div>
        <div class="row">
            <div class="col-lg-5 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="font-weight: bold;">Ảnh sản phẩm</h4>
                        <img width="100%" height="auto" src="~/images/@Html.DisplayFor(model => model.ProImage)" />
                    </div>
                </div>
            </div>
            <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <form class="forms-sample">
                            @Html.HiddenFor(model => model.CatId)
                            <div class="form-group">
                                <h4 class="card-title" style="font-weight: bold;">Tên sản phẩm</h4>
                                <span class="form-control">
                                    @Html.DisplayFor(model => model.ProName)
                                </span>
                                @Html.ValidationMessageFor(model => model.ProName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <h4 class="card-title" style="font-weight: bold;">Mô tả sản phẩm</h4>
                                <span class="form-control">
                                    @Html.DisplayFor(model => model.ProDes)
                                </span>
                                @Html.ValidationMessageFor(model => model.ProDes, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <h4 class="card-title" style="font-weight: bold;">Loại sản phẩm</h4>
                                <span class="form-control">
                                    @Html.DisplayFor(model => model.Category.CatName)
                                </span>
                                @Html.ValidationMessageFor(model => model.Category.CatName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <h4 class="card-title" style="font-weight: bold;">Đơn giá sản phẩm</h4>
                                <span class="form-control">
                                    @Html.DisplayFor(model => model.ProPrice)
                                </span>
                                @Html.ValidationMessageFor(model => model.ProPrice, "", new { @class = "text-danger" })
                            </div>
                            <button type="submit" value="Delete" class="btn btn-gradient-danger btn-fw">Delete</button>
                            <button class="btn btn-light"> @Html.ActionLink("Cancel", "Index")</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
