@model IEnumerable<BurgerKing.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <button id="button-create" type="button" class="btn btn-gradient-primary btn-icon-text">
            <i class="mdi mdi-library-plus btn-icon-prepend"></i>Thêm sản phẩm mới
        </button>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Quản lý thông tin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><b>Thông tin sản phẩm</b></h4>
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Ảnh sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Đơn giá</th>
                                    <th>Sửa</th>
                                    <th>Chi tiết</th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><img src="~/images/@Html.DisplayFor(modelItem => item.ProImage)" /></td>
                                        <td>@Html.DisplayFor(modelItem => item.ProName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ProPrice)</td>
                                        <td>@Html.ActionLink("Sửa", "Edit", new { id = item.ProId })</td>
                                        <td>@Html.ActionLink("Chi tiết", "Details", new { id = item.ProId })</td>
                                        <td>@Html.ActionLink("Xóa", "Delete", new { id = item.ProId })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#button-create").click(function () {
            window.location.href = '@Url.Action("Create", "Products")';
        });
    });
</script>