@model BurgerKing.Models.Account

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title" style="font-weight:bold"> Thông tin chi tiết tài khoản </h3>
    </div>
    <div class="row">
        <div class="col-lg-5 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="font-weight:bold">Ảnh đại diện</h4>
                    <img width="100%" height="auto" src="~/images/@Model.Image" />
                </div>
            </div>
        </div>
        <div class="col-md-7 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form class="forms-sample">
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <h4 class="card-title" style="font-weight:bold">Họ và tên</h4>
                            <span class="form-control">
                                @Html.DisplayFor(model => model.Name)
                            </span>
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <h4 class="card-title" style="font-weight:bold">Email</h4>
                            <span class="form-control">
                                @Html.DisplayFor(model => model.Email)
                            </span>
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <h4 class="card-title" style="font-weight:bold">Số điện thoại</h4>
                            <span class="form-control">
                                @Html.DisplayFor(model => model.Phone)
                            </span>
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <h4 class="card-title" style="font-weight:bold">Địa chỉ</h4>
                            <span class="form-control">
                                @Html.DisplayFor(model => model.Address)
                            </span>
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <h4 class="card-title" style="font-weight:bold">Phân quyền</h4>
                            <span class="form-control">
                                @Html.DisplayFor(model => model.Role.RoleName)
                            </span>
                            @Html.ValidationMessageFor(model => model.Role.RoleName, "", new { @class = "text-danger" })
                        </div>
                        <button class="btn btn-gradient-primary me-2">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</button>
                        <button class="btn btn-light"> @Html.ActionLink("Cancel", "Index")</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>