@model IEnumerable<BurgerKing.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <button id="button-create" type="button" class="btn btn-gradient-primary btn-icon-text">
            <i class="mdi mdi-library-plus btn-icon-prepend"></i>Thêm tài khoản mới
        </button>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Quản lý thông tin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tài khoản</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="font-weight:bold">Tài khoản</h4>
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="font-weight:bold">Họ và tên</th>
                                    <th style="font-weight:bold">Email</th>
                                    <th style="font-weight:bold">Số điện thoại</th>
                                    <th style="font-weight:bold">Phân quyền</th>
                                    <th style="font-weight:bold">Sửa tài khoản</th>
                                    <th style="font-weight:bold">Chi tiết tài khoản</th>
                                    <th style="font-weight:bold">Xóa tài khoản</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Role.RoleName)</td>
                                        <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
                                        <td>@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
                                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#button-create").click(function () {
            window.location.href = '@Url.Action("Create", "Accounts")';
        });
    });
</script>